.barrage-container {
    position: relative;
}

.barrage-curtain {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

.barrage-track {
    position: absolute;
    width: 100%;
    left: 0;
}

.barrage-track .barrage-item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}